<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="5e3543b8-2ccd-4c6b-ada3-ef12dc536239" />
    <add key="ida:AppSecret" value="HwQfYX/8mb2=9ljvGFmFTqc4huMpMs/:" />
    <add key="ida:RedirectUri" value="https://graph-tutorial-marcel.azurewebsites.net/" />
    <!--<add key="ida:RedirectUri" value="https://localhost:44375/" />-->
    <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
